.m-product-previewer
  .c-product-items
    .c-product-item
      label.m-dot-navigator__trigger for="dot_1"
        img.c-product-item__image src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16584/ugmonk-tshirt-2.jpg"
    .c-product-item.is-selected
      label.m-dot-navigator__trigger for="dot_2"
        img.c-product-item__image src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16584/ugmonk-tshirt-2.jpg"
    .c-product-item
      label.m-dot-navigator__trigger for="dot_3"
        img.c-product-item__image src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16584/ugmonk-tshirt-2.jpg"  
  
  .m-dot-navigator
    input.m-dot-navigator__dot type="radio" id="dot_1" name="product-items"
    input.m-dot-navigator__dot type="radio" id="dot_2" name="product-items" checked=""
    input.m-dot-navigator__dot type="radio" id="dot_3" name="product-items"
  
  .m-product-previewer__item-info.u-text--large
    strong.m-product-previewer__item-title Mountains
    strong.m-product-previewer__item-price.is-on-sale.u-pull--right data-currency="$" data-price="26" data-on-sale-price="22"
  