<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>FARMAZ - Página Inicial</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
  <title>Mark's Responsive Nav Bar</title>
  <link rel="stylesheet" type="text/css" href="main.css">

</head>

<body>

  <section class="navigation">
    <div class="nav-container">
      <div class="brand"><a href="#">FARMAZ<a/></div>
      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
        <ul class="nav-list">
          <li><a href="#!">Tela Inicial</a></li>
          <li class = "dropdown"><a href="#!">Serviços</a>
              <ul class="nav-dropdown">
                <li><a href="#">Consulta Medica</a></li>
                <li><a href="#">Compra Online</a></li>
                
              </ul>
            </li>
            <li><a href="#!">Fale Conosco</a></li>
            <li><a href="#!">Ajuda</a></li>
        </ul>
      </nav>
    </div>
  </section>
  
    <h1> sdasdaddsa ddddddddddddddddddddddddddddddddd</h1>
	 <center> <h1> Medicamentos em Alta</h1> </center>
  
  

	<center>	
	
    <img src="https://loja.ctmd.eng.br/19986-large/omega-3-toptherm-acido-graxo-01-frasco.jpg" height="400" width="350">

    <img src="https://http2.mlstatic.com/kit-vick-xarope-120ml-latinha-12g-contra-tosse-D_NQ_NP_942459-MLB26954077100_032018-F.jpg" height="400" width="350">

    <img src=" http://www.uniaosaude.com.br/site/uploads/noticias/generico.gif" height="400" width="350">
  
	</center>

  

</body>

<footer>



	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <script  src="js/index.js"></script> 


</footer>



   





</html>
